body {
    background-color: black
}

.row{
    margin-top: 30px;
}

#map {
    width: 100%;
    height: 500px;
}

.input-group {
    width: 100%;
}

#fareEst, #route, #time  {
    border: 4px solid whitesmoke;
    width: 10vw;
    border-radius: 50% 50%;
}

@media (max-width: 768px) {
    #fareEst, #route, #time  {
        border: 3px solid whitesmoke;
        width: 75px;
        height: 75px;
        border-radius: 50% 50%;
    }
  }
